.quiz-container{
    display: flex;
}
.details-holder{
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    background-color: rgb(238, 131, 131);
    margin-bottom: 20px;
}
.questions-holder{
    padding: 1rem;
    margin: 1rem;
    margin-left: 20px;
    text-align: left;
    border-radius: 0.5rem;
    /* border: 1px solid black; */
    box-shadow: 2px 0px 4px black;
}

.report-container{
    
    max-width: 70%;
    margin: auto;
}
.quiz-ques-holder{
    width: 70%;
    text-align: left;
    margin-left: 20px;
}

.single-question{
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.option{
    line-height: 2rem;
}

.correct-option{
    font-size: large;
    margin-left: 1rem;
    padding: 0.3rem;
    border-radius: 100%;
    background-color: rgb(166, 212, 166);
}
.user-option{
    font-size: large;
    margin-left: 1rem;
    padding: 0.3rem;
    border-radius: 100%;
    background-color: rgb(182, 239, 95);
}

.buttons-control{
    align-self:self-end;
    display: flex;
    justify-content: space-between;
}